/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Atma', cursive;
}
