:root{
    --blue: #000080;
    --orange: #FFBF00;
}
.nav__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 70px;
    background-color: var(--blue);
    line-height: 70px;
    padding: 0px 20px;
}

.nav__logo{
    color: var(--orange);
    font-size: 2rem;
    font-weight: 700;
}

.nav__links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.nav__links .nav_anchor{
    text-decoration: none;
    margin-left: 10px;
    color: var(--orange);
    font-weight: 600;
    font-size: 1.2rem;
}