:root
{
    --primary-blue : #042954;
    --primary-yellow : #ffae01;
    --primary-yellow-dark : #f8b525;
    --primary-text: #ffffff;
    --secondary-text: #d6d3d3;
    --absolute-text: #666565;
}

body
{
    // background-color: #f0f1f3 !important;
    font-family: 'Roboto', sans-serif;
}

a
{
    text-decoration: none;
}
.masterContainer
{
    background-color: #f0f1f3 !important;
    width: 100%;
    display: flex;
}

.sideBar_container
{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 100vh;
    background-color: var(--primary-blue);
    transition: all 0.2s ease-out;
}

.sideBar_container_hide
{
    width: 0%;
    height: 100vh;
    background-color: var(--primary-blue);
    transform: translateX(-500px);
    transition: all 0.2s ease-in;
}

.sideBar_top
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--primary-text);
    background-color: var(--primary-yellow);
    height: 80px;
}

.sideBar_middle
{
    flex-grow: 1;
}
.sideBar_middler_container
{
    display: flex;
    padding: 20px 40px;
    font-size: 1rem;
    border-bottom: 1px solid black;
}

.sideBar_Icon
{
    font-size: 1rem;
    margin-right: 10px;
    color: var(--primary-yellow);
}

.sideBar_Name
{
    color: var(--secondary-text);
}

.sideBar_bottom
{
    text-align: center;
    padding: 5px 0px;
    color: var(--secondary-text);
}
.main_wrapper
{
    width: 400% !important;
}
.main_wrapper > nav
{
    width: 100%;
    height: 80px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: var(--primary-text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.nav_left
{
    display: flex;
    align-items: center;
}

.nav_right
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_img
{
    width: 60px;
    height: 60px;
}
.nav_img > img
{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--primary-yellow);
}

.nav_name
{
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.nav_name > div:nth-child(even)
{
    color: var(--secondary-text);
}

.nav__dropdown
{
    position: absolute;
    top: 55px;
    min-height: 5vh;
    right:0;
    width: 150px;
    background-color: var(--primary-text);
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-top: 2px solid var(--primary-yellow);
    div 
    {
        padding: 0.2vmax 1vmax;
        a 
        {
            color: var(--absolute-text);
            transition: all 0.3s ease-in-out;
            span 
            {
                margin-right: 1vmax;
            }

            &:hover{
                color: var(--primary-yellow);
                transition: all 0.3s ease-in-out;
            }
        }
    }
}

.nav__dropdown_hide
{
    display: none;
}



.icon_msg
{
    font-size: 1.5rem;
    margin-left: 10px;
    color: var(--absolute-text);
}

.icon_noti
{
    font-size: 1.5rem;
    margin-left: 10px;
    color: var(--absolute-text);
}

.menu_icon > i
{
    font-size: 2rem;
    color: var(--absolute-text);
    cursor: pointer;
}

.main_content
{
    margin: 20px;
}

.breadCrumb > h3
{
    font-size: 1.5rem;
    font-weight: 600;
}
.breadCrumb > div
{
    font-size: 1rem;
    color: var(--absolute-text);
}
.breadCrumb > div > span
{
    color: var(--primary-yellow);
    margin-left: 10px;
}
.main_content_wrapper
{
    background-color: var(--primary-text);
    padding: 10px;
    border-radius: 10px;
}


  .active_btn
  {
      background-color: rgb(4, 196, 4);
      color: var(--primary-text);
      outline: none;
      border: none;
      padding: 5px 20px;
      border-radius: 10px;
      margin-right: 2px;
  }

  .delete_btn
  {
      background-color: rgb(196, 33, 4);
      color: var(--primary-text);
      outline: none;
      border: none;
      padding: 5px 20px;
      border-radius: 10px;
  }

  .caption_wrapper
  {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .caption_wrapper > caption
  {
      font-size: 1.5rem;
      color: black;
      font-weight: 500;
  }

  .caption_wrapper > a
  {
      background-color: var(--primary-blue);
      color: var(--primary-text);
      text-decoration: none;
      padding: 10px 20px;
      border-radius: 10px;
      transition: all 0.3s ease-in-out;
  }
  .caption_wrapper > a:hover
  {
      background-color: var(--primary-yellow);
      transition: all 0.3s ease-in-out;
  }
  .form_wrapper
  {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 20px 10px;
  }
  .form_wrapper > div
  {
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
  }
  .form_wrapper > div > input
  {
      width: 500px;
      height: 50px;
      border: none;
      outline: none;
      background-color:#f0f1f3;
      border-radius: 10px;
      padding: 10px;
  }
  .form_wrapper > div > select
  {
      width: 500px;
      height: 50px;
      border: none;
      outline: none;
      background-color:#f0f1f3;
      border-radius: 10px;
      padding: 10px;
  }
  .form_wrapper > div > textarea
  {
      width: 500px;
      height: 100px;
      border: none;
      outline: none;
      background-color:#f0f1f3;
      border-radius: 10px;
      padding: 10px;
  }
  button
  {
    background-color: var(--primary-blue);
    color: var(--primary-text);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    outline: none;
    border: none;
  }
  .form_wrapper > div > .form_btn
  {
      width: 500px !important;
      height: 50px !important;
  }
  button:hover
  {
    background-color: var(--primary-yellow);
    transition: all 0.3s ease-in-out;
  }

  .dashboard__wrapper 
  {
      width: 100%;
      height: auto;
  }

  .dashboard__wrapper > .dashboard__top_container 
  {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #fff;
      padding: 1.5vmax 1vmax;
      width: 100%;
      height: auto;
      border-radius: 0.5vmax;
  }

  .dashboard__wrapper > .dashboard__top_container > div:first-child 
  {
      font-size: 1.4vmax;
      font-weight: 500;
  }

  .dashboard__wrapper > .dashboard__mid_container
  {
    background-color: var(--primary-blue);
    color: var(--primary-yellow);
    padding: 1.5vmax 1vmax;
    width: 100%;
    height: auto;
    border-radius: 0.5vmax;
    margin: 1vmax 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dashboard__wrapper > .dashboard__mid_container > div 
  {
      font-size: 1.2vmax;
      font-weight: 500;
      text-transform: uppercase;
  }

  .dashboard__wrapper > .dashboard__mid_container > div > span 
  {
      font-size: 1.1vmax;
      background-color: #1c3d63ec;
      border-radius: 0.5vmax;
      padding: 0.3vmax 1vmax;
      margin-left: 1vmax;
  }

  .dashboard__wrapper > .dashboard__bottom_container 
  {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-gap:1vmax;
  }
  .card__wrapper
  {
      background-color: var(--primary-yellow);
      width: 100%;
      height: 20vh;
      border-radius: 0.5vmax;
      padding: 2vmax;
      color: var(--primary-text);
      cursor: pointer;
  }
  .card__wrapper > div:first-child 
  {
      font-size: 1.6vmax;
      font-weight: 500;
  }
  .card__wrapper > div:last-child
  {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 2vmax;
  }

  .card__wrapper:hover 
  {
      transition: all 0.3s ease-in-out;
      background-color: var(--primary-blue);
  }
  @media screen and (max-width: 600px) {
    .dashboard__wrapper > .dashboard__bottom_container
    {
        grid-template-columns: 1fr;
    }
    .card__wrapper
    {height: 10vh;}
    .dashboard__wrapper > .dashboard__mid_container
    {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .dashboard__wrapper > .dashboard__mid_container > div 
    {
        margin: 1vmax 0;
    }
  }

  /* Table Styles */

.table-wrapper{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: var(--primary-yellow);
    padding: 1vmax 0;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: var(--primary-yellow-dark);
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}

  